[submodule "android-detectors"]
	path = android-detectors
	url = https://github.com/pralab/android-detectors
	update = merge
[submodule "track_2/problem_space_attack/manipulation/Obfuscapk"]
	path = track_2/problem_space_attack/manipulation/Obfuscapk
	url = https://github.com/Mobile-IoT-Security-Lab/Obfuscapk.git
